#header {
	background-image: url("../../../assets/images/titulo.png");
	background-size:     cover;                    
	background-repeat:   no-repeat;
	background-position: center center;
	height: 45vh;
	width: 100vw;
} 

#content {
	height: 100%;
	width: 100vw;
	background-image: url("../../../assets/images/fondo2.jpg");
}

h1 {
	color: #652e48;
	font-size: 1.8rem;
}

.card-body {
	padding: 0;
}

a {
	text-decoration: none;
}