#opSobreMi{
	background-color: #333;
}
h1{
	text-align: center;
}
/*Seccion Principal*/
#principal{
	margin-top: 15px;
	display: flex;
	flex-wrap: wrap;	
	width: 100%;
	min-height: 370px;
	max-height: 600px;	
	text-align: center;
	flex-basis: auto;
}
#imagen{
	flex: 1;
	width: 600px;
	min-width: 300px;
}
#introduccion{
	width: 100%;
	flex-basis: auto;
	height: 100%;
}

h2{
	font-size: 30px;
	padding: 0;
	margin: 0;
}
p{
	text-align: justify;
	padding-top: 25px;
	padding-right: 15%;
}
#divTexto{
	flex: 2;
	width: 800px;
	min-width: 400px;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 15% 65% 20%;
	justify-content: center;
	
}
#divBoton{

	text-align: center;
}
input{
	width: 50%;
	height: 80%;
	background-color: #0984AF;
	border-radius: 20px;
	color: #fff;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

