#opPrincipal{
	background-color: #333;
}
/*Seccion principal*/
/*Seccion principal Izquierda*/
.seccionPrincipal{
	text-align: center;
	display: flex;
	width: 100%;
	margin: 40px 0;
	flex-wrap: wrap;
}
.divPrincipal1{
	flex: 1;	
	grid-template-columns: repeat(7, 14.28%);
	grid-template-rows: repeat(7, 1fr);
	display: grid;
	margin: 10px;

}
#adorno{
	grid-column: 2/7;
	grid-row: 2/7;
	border-radius: 50px;
	width: 100%;
	height: 100%;
	box-shadow: 30px #ccc;
	background-color: #fff;
	transform: rotate(45deg);
	z-index: 1;
	margin: 15px;
}
#img{
	grid-column: 3/6;
	grid-row: 3/6;
 	z-index: 10; 	
}
#perfil{	
	width: 100%;
	height: 100%;
}

/*Seccion principal DERECHA*/
h1{
	font-size: 40px;
}
h2{
	color: grey;
}
.divPrincipal2{
	flex: 2;
	display: grid;
	grid-template-rows: minmax(180px, 1fr); 100px;
	
}
#texto{
	min-height: 150px;
	max-height: 200px;
}
#opciones{
	margin: 30px;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 35px 35px;
	grid-gap: 10px;
	justify-content: center;
	align-content: center;
}

.Contratarme{	
	width: 42%;
	min-width: 40%;
	background-color: #6495ed;
	padding: 5px;
	border-radius: 7px;
	padding-left: 20px;
}

#btContratarme{
	width: 90%;
	min-width: 80%;
	background-color: #6495ed;	
	padding: 10px 20px;
	margin: 4px;
	border-radius: 7px;
}
#enlaceCont{
	background-color: #6495ed;
}
#iconoCont{
	background-color: #6495ed;
}
.Portafolio{
	width: 40%;
}
#curriculo{	
	grid-column: 1/3;
	width: 60%;
}
#btPortafolio{
	width: 80%;
	background-color: #666b;	
	padding: 10px 20px;
	border-radius: 7px;
	margin: 4px;
}
#enlacePort{
	background-color: #555e;
}
#iconoPort{
	background-color: #555d;
}
i {
	width: 20%;
}
#curriculo{
	width: 80%;
	align-items: center;
}
/*Seccion de Conocimientos*/
.seccionConocimientos{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	width: 100%;
	min-height: 220px;
	max-height: 500px;
	
}
.Conocimientos{
	display: flex;
	justify-content: center;
	flex-basis: auto;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
}

.imgConocimientos{
	width: 100px;
	min-width: 80px;
	height: 130px;
	min-height: 105px;
	padding: 3% 1%;
}
.imgConocimientos2{
	width: 140px;
	min-width: 120px;
	height: 120px;
	min-height: 105px;
	padding: 3% 1%;
}

/*Seccion de Proyectos*/
.seccionPortafolio{
	display: flex;
	width: 100%;
	padding: 25px;
	justify-content: center;
	
}
.imgTrabajos{
	display: flex;
	justify-content: center;
	flex-basis: auto;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
}
#titPortafolio{
	display: block;
}
/*Footer*/
footer{
	display: grid;	
	grid-template-columns: 50% 50%;
	grid-template-rows: 100%;
	background-color: #555;
	width: 100%;
	height: 160px;
	border-radius: 20px 20px 0 0;
	justify-content: center;
	align-items: flex-end;
}
.datos{
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: 33% 33% 34%;
	grid-template-columns: 100%;
	align-items: center;


}
div > h4{
	width: 100%;
	padding: 3%;
}

.redesSociales{
	display: flex;
}
.redes{
	width: 11%;
	height: 20%;
	padding: 20px;
	margin-top: 20px;

}

/*RESPONSIVE*/

@media screen and (min-width: 500px && max-width: 800px){
	.seccionPrincipal{
		flex-direction: column;
	}
	/*DIV PRINCIPAL 1*/
	.divPrincipal1{
		padding-bottom: 20px;
	}
	#texto{
		margin: 20px;
	}
	#opciones{
		margin: 20px;
	}
	.divPrincipal2{
		padding-top: 20px;
	}
}
@media screen and (max-width: 500px){
	h1{
		font-size: 34px;
	}
	.seccionPrincipal{
		flex-direction: column;
	}
	/*DIV PRINCIPAL 1*/
	.divPrincipal1{
		padding-bottom: 40px;
	}
	#texto{
		margin: 10px;
	}
	#opciones{
		grid-template-rows: 45px 45px;
		grid-gap: 12px;
	}
	.divPrincipal2{
		padding-top: 20px;
	}
}