*{
	padding: 0;
	margin: 0;
	color: #fff;
}
body{
	background-color: #000;
	color: #fff;
	width: 100%;
	left: 0;
	right: 5px;
}
header{
	width: 100%;
	text-align: center;
}
li{
	color: #afafaf;
	display: inline-block;
	padding: 10px 35px;
}

a{
	text-decoration: none;
}
a:visited{
	color: #ccc;
}
a:hover{
	background-color: #112;
	color: #ddd;
}
.nav__responsive{
	position: fixed;
	z-index: 1000;
	display: none;
}
.nav__responsive__ButtonContainers{
	position: absolute;
	width: 100%;
	font-size: 35px;
	background-color: #333;
	margin-top: -38px;
	z-index: 100;
}
.nav__responsive__Button{
	text-align: left;
	z-index: 100;
	width: 100%;
	padding: 6px 20px;	
}
.nav__li__Containers{
	position: relative;
	top: -1000px;
	height: calc(100vh - 60px);
	transition: all .2s;
	z-index: 1;
}
/*Footer*/
footer{
	display: grid;	
	grid-template-columns: 50% 50%;
	grid-template-rows: 100%;
	background-color: #555;
	width: 100%;
	height: 160px;
	border-radius: 20px 20px 0 0;
	justify-content: center;
	align-items: flex-end;
}
.datos{
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: 33% 33% 34%;
	grid-template-columns: 100%;	
	align-items: center;
}
div > h4{
	width: 100%;
	padding: 3%;
}

.redesSociales{
	display: flex;
	flex-basis: auto;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin-top: 20px;
}
.redes{
	max-width: 60px;
	min-width: 25px;
	max-height: 80px;
	min-height: 32px;
	padding: 10px;	

}
a:hover{
	background-color: #666;
}
li:hover{
	background-color: #666;
}

@media screen and (max-width: 800px){
	.nav__normal{
		display: none;
	}
	.nav__responsive{
		background-color: violet;
		width: 100%;
		height: 0;
		color: #fff;
		z-index: 15;
		display: block;

	}
	.nav__ulResponsive{
		display: block;
		position: absolute;
		width: 100%;		
		background-color: blue;				
		height: 0;
		
	}
	.nav__li_container{
		background-color: #333;
		position: relative;
		text-align: left;
		top: -1000px;
		height: 180px;
		width: 75%;
		transition: all 1s;
		z-index: 1;
	}
	.liResponsive{
		width: 100%;
		padding: 8px 20px;
	}
	.nav__ulResponsive:hover > .nav__li_container{
		top: 7px;
	}
}