<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <main class="container-fluid">
            <div class="row pt-2">
                <div class="col-12">
                    <mat-toolbar>
                        <button mat-icon-button color="primary" aria-label="menu" routerLink="/splash">
                            <mat-icon>arrow_back</mat-icon>
                        </button>
                    </mat-toolbar>
                </div>
            </div>
        </main>
        <div class="divHistoria">
            <h1>HISTORIA DE TOM AND JERRY</h1>
            <p>El programa de televisión fue creado en 1940 por William Hanna y Joseph Barbera, dos de los mayores genios en la historia de la animación, que entonces daban sus primeros pasos en las filas de MGM y que buscaban un proyecto que sacara a su departamento del bache creativo en el que se encontraba. La historia real de Tom y Jerry surgió de la idea de un gato y un ratón persiguiéndose hasta el cansancio no era muy atractiva para el productor Fred Quimby, 
            quien de cualquier modo les dio una oportunidad: autorizó un único corto que llevaría por título Puss Gets the Boots.
            </p>
            <p>La dupla, entonces titulada Jasper y Jinx, fue estupendamente recibida por el público y la crítica, e incluso logró su primera de 13 nominaciones al premio de la Academia. No ganó, pero con el tiempo acumularía siete estatuillas que le convertirían en la máxima ganadora de la terna a Mejor cortometraje animado, junto con las míticas Sinfonías bobas de Walt Disney. 
                El estudio no tardó en ordenar más proyectos y empezó una búsqueda de nuevos nombres mediante un concurso interno. Los ganadores fueron Tom y Jerry por varias razones: “Tom” es una expresión que se usa para referirse a un gato macho; el nombre de la dupla coincide con el de una bebida navideña y también es una vieja jerga británica para referirse al comportamiento destructivo.                 
            </p>
        </div>
        
    </body>
</html>
